@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

#login {
  margin: 10px auto;
  width: 100%;
}

#login form {
  margin: 5px;
  padding: 22px 22px 22px 22px;
  width: 100%;
  height: 145%;
  border-radius: 5px;
  background: #FFB000;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}
